<div>
    <p>Carrito</p>

        {{#each newcart}}
            <div>
            <p> Producto: {{this.title}} - Descripcion: {{this.description}} - Precio:${{this.price}} - Imagen:{{this.thumbnail}}</p>
            <p>
                
            </p>

            </div>
            
            
        {{/each}}

</div>

<script src="/virtual/js/cart.js"></script>